<!doctype html>


<head>

	<title>Imagion - Image Scoring for Instagram Advertiser</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.jpg"/>

    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/style.css">

</head>



<body class="home">


<!-- / Site Header -->
<div class="site-header">


    <!-- / Site Logo -->
	<div class="site-logo">
    	<a href="">
    		<img src="/static/images/site-logo.png" />
        </a>
    </div>
	<!-- \ Site Logo -->


    <!-- / Site Menu -->
    <div class="site-menu">
    	<div class="icon"></div>
        <div class="menu">
            <ul>
				<li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('upload_picture') }}">Upload Your Picture</a></li>
				<li><a href="{{ url_for('blog') }}">Blog / News</a></li>
				<li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </div>
    </div>
	<!-- \ Site Menu -->


    <!-- / Site Description -->
    <h1>
    A smart image scoring system for Instagram advertisers.
    </h1>
	<!-- \ Site Description -->


    <!-- / Site Footer -->
    <div class="site-footer">
        <div class="site-social">
            <ul>
                <li><i class="pe-so-dribbble pe-lg pe-va"></i></li>
                <li><i class="pe-so-facebook pe-lg pe-va"></i></li>
                <li><i class="pe-so-twitter pe-lg pe-va"></i></li>
            </ul>
        </div>

    	<p>© 2017 Imagion</p>
        <p>2017 UCB MIDS by Haroon Choudery, Roiana Reid and Sue Yang</a></p>
    </div>
    <!-- \ Site Footer -->

</div>
<!-- \ Site Header -->


<!-- \ Site Main -->
<div class="site-main">
	<h2>SHOWCASE</h2>
    <ul class="row grid cs-style-2">
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/01.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/02.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/03.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/04.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/05.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/06.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/07.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/09.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/10.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/11.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/12.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/13.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/14.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/15.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/16.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/17.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/18.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/19.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/20.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/02.jpg">
			<figcaption>
				<h3>Music</h3>
				<span>Jacob Cummings</span>
			</figcaption>
		</figure>
      </li>
    </ul>
</div>



<!-- / JS Files  -->

    <!-- jQuery -->
	<script type=text/javascript src="{{url_for('static', filename='js/jQuery/jquery-3.2.1.js') }}"></script>
    <!-- Theme Functions -->
	<script type=text/javascript src="{{url_for('static', filename='js/functions.js') }}"></script>
    <!-- Caption Effects Plugin -->
    <script type=text/javascript src="{{url_for('static', filename='CaptionHoverEffects/js/modernizr.custom.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='CaptionHoverEffects/js/toucheffects.js') }}"></script>

<!-- \ JS Files  -->



</body>
</html>
