<!doctype html>


<head>

	<title>Imagion - Image Scoring for Instagram Advertiser</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.jpg"/>

    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/style.css">

</head>



<body class="home">


<!-- / Site Header -->
<div class="site-header">


    <!-- / Site Logo -->
	<div class="site-logo">
    	<a href="">
    		<img src="/static/images/site-logo.png" />
        </a>
    </div>
	<!-- \ Site Logo -->


    <!-- / Site Menu -->
    <div class="site-menu">
    	<div class="icon"></div>
        <div class="menu">
            <ul>
				<li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('upload_picture') }}">Upload Your Picture</a></li>
				<li><a href="{{ url_for('blog') }}">Blog / News</a></li>
				<li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </div>
    </div>
	<!-- \ Site Menu -->


    <!-- / Site Description -->
    <h1>
    A smart image scoring system for Instagram advertisers.
    </h1>
	<!-- \ Site Description -->


    <!-- / Site Footer -->
    <div class="site-footer">
        <div class="site-social">
            <ul>
                <li><i class="pe-so-dribbble pe-lg pe-va"></i></li>
                <li><i class="pe-so-facebook pe-lg pe-va"></i></li>
                <li><i class="pe-so-twitter pe-lg pe-va"></i></li>
            </ul>
        </div>

    	<p>© 2017 Imagion</p>
        <p>2017 UCB MIDS by Haroon Choudery, Roiana Reid and Sue Yang</a></p>
    </div>
    <!-- \ Site Footer -->

</div>
<!-- \ Site Header -->


<!-- \ Site Main -->
<div class="site-main">
	<h2>SHOWCASE</h2>
    <ul class="row grid cs-style-2">
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/oliviapierson_1.png">
			<figcaption>
				<h3>Label: purple</h3>
				<h3>Score: 5</h3>
				<span>oliviapierson_1.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/sarabuho_6.png">
			<figcaption>
                <h3>Label: text</h3>
				<h3>Score: 4</h3>
				<span>sarabuho_6.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/joannagaines_2.png">
			<figcaption>
                <h3>Label: shelf</h3>
				<h3>Score: 2.9</h3>
				<span>joannagaines_2.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/thiagomlcorrea_4.png">
			<figcaption>
                <h3>Label: water</h3>
				<h3>Score: 8</h3>
				<span>thiagomlcorrea_4.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/coryrichards_7.png">
			<figcaption>
                <h3>Label: black and white</h3>
				<h3>Score: 5.8</h3>
				<span>coryrichards_7.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/jacob_1.png">
			<figcaption>
                <h3>Label: nature</h3>
				<h3>Score: 6.2</h3>
				<span>jacob_1.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/daveyoder_1.png">
			<figcaption>
                <h3>Label: profession</h3>
				<h3>Score: 4.2</h3>
				<span>daveyoder_1.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/europe.vacations_1.png">
			<figcaption>
                <h3>Label: town</h3>
				<h3>Score: 3.9</h3>
				<span>europe.vacations_1.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/amytoensing_1.png">
			<figcaption>
                <h3>Label: nature</h3>
				<h3>Score: 7.4</h3>
				<span>amytoensing_1.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/faktastisch_0.png">
			<figcaption>
                <h3>Label: advertising</h3>
				<h3>Score: 2.4</h3>
				<span>faktastisch_0.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/nathparis_2.png">
			<figcaption>
                <h3>Label: crowd</h3>
				<h3>Score: 5</h3>
				<span>nathparis_2.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/miraduma_0.png">
			<figcaption>
                <h3>Label: pink</h3>
				<h3>Score: 7.9</h3>
				<span>miraduma_0.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/art_spotlight_0.png">
			<figcaption>
                <h3>Label: sky</h3>
				<h3>Score: 7.2</h3>
				<span>art_spotlight_0.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/destinationwolf_1.png">
			<figcaption>
                <h3>Label: coastal and oceanic landforms</h3>
				<h3>Score: 2.8</h3>
				<span>destinationwolf_1.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/thriftsandthreads_1.png">
			<figcaption>
                <h3>Label: sunglasses</h3>
				<h3>Score: 7.5</h3>
				<span>thriftsandthreads_1.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/rezaphotography_0.png">
			<figcaption>
                <h3>Label: sky</h3>
				<h3>Score: 1.2</h3>
				<span>rezaphotography_0.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/model_roz_0.png">
			<figcaption>
                <h3>Label: blue</h3>
				<h3>Score: 4.8</h3>
				<span>model_roz_0.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/hapatime_7.png">
			<figcaption>
                <h3>Label: beauty</h3>
				<h3>Score: 7.3</h3>
				<span>hapatime_7.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/paleyphoto_0.png">
			<figcaption>
                <h3>Label: font</h3>
				<h3>Score: 2.4</h3>
				<span>paleyphoto_0.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/nakedplanet_0.png">
			<figcaption>
                <h3>Label: insect</h3>
				<h3>Score: 5.6</h3>
				<span>nakedplanet_0.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/geosteinmetz_0.png">
			<figcaption>
                <h3>Label: profession</h3>
				<h3>Score: 4.8</h3>
				<span>geosteinmetz_0.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/berlinstagram_1.png">
			<figcaption>
                <h3>Label: car</h3>
				<h3>Score: 7.3</h3>
				<span>berlinstagram_1.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/_tuck4_1.png">
			<figcaption>
                <h3>Label: street</h3>
				<h3>Score: 5.7</h3>
				<span>_tuck4_1.png</span>
			</figcaption>
		</figure>
      </li>
      <li class="col-md-2 post">
		<figure>
			<img src="/static/images/uploads/marte_marie_forsberg_4.png">
			<figcaption>
                <h3>Label: display window</h3>
				<h3>Score: 6.4</h3>
				<span>marte_marie_forsberg_4.png</span>
			</figcaption>
		</figure>
      </li>
    </ul>
</div>



<!-- / JS Files  -->

    <!-- jQuery -->
	<script type=text/javascript src="{{url_for('static', filename='js/jQuery/jquery-3.2.1.js') }}"></script>
    <!-- Theme Functions -->
	<script type=text/javascript src="{{url_for('static', filename='js/functions.js') }}"></script>
    <!-- Caption Effects Plugin -->
    <script type=text/javascript src="{{url_for('static', filename='CaptionHoverEffects/js/modernizr.custom.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='CaptionHoverEffects/js/toucheffects.js') }}"></script>

<!-- \ JS Files  -->



</body>
</html>
