<!doctype html>



<head>

	<title>Imagion - Image Scoring for Instagram Advertiser</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>

    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/style.css">

</head>



<body class="shortcodes">


<!-- / Site Header -->
<div class="site-header">


    <!-- / Site Logo -->
	<div class="site-logo">
    	<img src="/static/images/site-logo.png" />
    </div>
	<!-- \ Site Logo -->


    <!-- / Site Menu -->
    <div class="site-menu">
    	<div class="icon"></div>
        <div class="menu">
            <ul>
				<li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('picture_single') }}">Picture Single</a></li>
				<li><a href="{{ url_for('upload_picture') }}">Upload Your Picture</a></li>
				<li><a href="{{ url_for('blog') }}">Blog / News</a></li>
				<li><a href="{{ url_for('blog_single') }}">Blog Single</a></li>
				<li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </div>
    </div>
	<!-- \ Site Menu -->


    <!-- / Site Description -->
    <h1>
    A smart image scoring system for Instagram advertisers.
    </h1>
	<!-- \ Site Description -->


    <!-- / Site Footer -->
    <div class="site-footer">
        <div class="site-social">
            <ul>
                <li><i class="pe-so-dribbble pe-lg pe-va"></i></li>
                <li><i class="pe-so-facebook pe-lg pe-va"></i></li>
                <li><i class="pe-so-twitter pe-lg pe-va"></i></li>
            </ul>
        </div>

    	<p>© 2017 Imagion</p>
        <p>2017 UCB MIDS by Haroon Choudery, Roiana Reid and Sue Yang</a></p>
    </div>
    <!-- \ Site Footer -->

</div>
<!-- \ Site Header -->


<!-- \ Site Main -->
<div class="site-main">
	<div class="inner clearfix">


        <h3>Shortcodes</h3>



            <!-- / Buttons -->
            <h4>Buttons</h4>
            <a class="btn btn-default" href="#" role="button">Button #1</a>
            <a class="btn btn-primary" href="#" role="button">Button #2</a>
            <a class="btn btn-success" href="#" role="button">Button #3</a>
            <a class="btn btn-info" href="#" role="button">Button #4</a>
            <a class="btn btn-warning" href="#" role="button">Button #5</a>
            <a class="btn btn-danger" href="#" role="button">Button #6</a>
            <!-- / Buttons -->


            <!-- / Buttons -->
            <h4>Alerts</h4>
            <p class="alert bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p class="alert bg-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            <p class="alert bg-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            <p class="alert bg-warning">Etiam porta sem malesuada magna mollis euismod.</p>
            <p class="alert bg-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
            <!-- \ Buttons -->




            <!-- / Tabs -->
            <h4>Tabs</h4>
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                    Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
                    </div>
                </div>
            </div>
            <!-- \ Tabs -->



            <!-- / Table -->
            <h4>Table</h4>
            <table class="table">
              <caption>Optional table caption goes here.</caption>
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
            <!-- \ Table -->



            <!-- / Grids -->
            <h4>Grids</h4>

            <h5><b>Full Width</b></h5>
            <div class="row">
              <div class="col-md-12">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et elit erat. Nullam non est elit. Aenean pulvinar enim quis magna gravida fermentum. Praesent blandit lacinia ullamcorper. Morbi volutpat molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
            </div>

            <h5><b>2 / 3 Columns</b></h5>
            <div class="row">
              <div class="col-md-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et elit erat. Nullam non est elit. Aenean pulvinar enim quis magna gravida fermentum. Praesent blandit lacinia ullamcorper. Morbi volutpat molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-4">
              Molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
            </div>

            <h5><b>1 / 2 Columns</b></h5>
            <div class="row">
              <div class="col-md-6">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et elit erat. Nullam non est elit. Aenean pulvinar enim quis magna gravida fermentum. Praesent blandit lacinia ullamcorper. Morbi volutpat molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-6">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et elit erat. Nullam non est elit. Aenean pulvinar enim quis magna gravida fermentum. Praesent blandit lacinia ullamcorper. Morbi volutpat molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
            </div>

            <h5><b>1 / 3 Columns</b></h5>
            <div class="row">
              <div class="col-md-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et elit erat. Nullam non est elit. Aenean pulvinar enim quis magna gravida fermentum. Praesent blandit lacinia ullamcorper. Morbi volutpat molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et elit erat. Nullam non est elit. Aenean pulvinar enim quis magna gravida fermentum. Praesent blandit lacinia ullamcorper. Morbi volutpat molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et elit erat. Nullam non est elit. Aenean pulvinar enim quis magna gravida fermentum. Praesent blandit lacinia ullamcorper. Morbi volutpat molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
            </div>

            <h5><b>1 / 4 Columns</b></h5>
            <div class="row">
              <div class="col-md-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar enim quis magna gravida fermentum. Praesent blandit lacinia ullamcorper. Morbi volutpat molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar enim quis magna gravida fermentum. Praesent blandit lacinia ullamcorper. Morbi volutpat molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar enim quis magna gravida fermentum. Praesent blandit lacinia ullamcorper. Morbi volutpat molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar enim quis magna gravida fermentum. Praesent blandit lacinia ullamcorper. Morbi volutpat molestie est, sed bibendum est hendrerit eget. Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
            </div>

            <h5><b>1 / 6 Columns</b></h5>
            <div class="row">
              <div class="col-md-2">
              Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-2">
              Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-2">
              Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-2">
              Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-2">
              Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
              <div class="col-md-2">
              Vivamus ornare sollicitudin pulvinar. Integer ut semper lorem. Aenean sit amet arcu libero. Maecenas lobortis velit mauris.
              </div>
            </div>
			<!-- \ Grids -->







    </div>
</div>
<!-- / Site Main -->



<!-- / JS Files  -->

    <!-- jQuery -->
	<script type=text/javascript src="{{url_for('static', filename='js/jQuery/jquery-3.2.1.js') }}"></script>
    <!-- Theme Functions -->
	<script type=text/javascript src="{{url_for('static', filename='js/functions.js') }}"></script>
    <!-- Bootstrap -->
    <script type=text/javascript src="{{url_for('static', filename='CaptionHoverEffects/js/bootstrap.min.js') }}"></script>


<!-- \ JS Files  -->



</body>
</html>
